@import '../../utilities/mixins';
@import '../../utilities/variables';
@import '../../utilities/extends';
@import '../../utilities/keyframes';

.landing-page {
    animation: fadeOut 1s;
    min-height: calc(100vh - 56px);
    &-inner {
        padding-top: 130px;
        &-item {
            text-align: center;
            color: $white; 
        }
    }
}