// Center Objects
%center {
    @include flexbox($just: center, $align: center);
    margin: 0 auto;
}

// Transition

%trn {
    opacity: .8;
    transition: $trns-duration;
}

// Mouseover

%mouseover {
    cursor: pointer;
    &:hover {
        opacity: .5;
        @extend %trn;
    }
    &:focus {
        opacity: 1;
    }
    &:active {
        opacity: .8;
    }
}

// Box Shadow

%box-shadow {
    box-shadow: 
        13px 12px 15px 5px rgba(0,0,0,.3);
}

%box-shadow2 {
    box-shadow: 
        inset 0 11px 8px -10px #CCC;
}

%box-shadow3 {
    box-shadow: 
        inset 0 11px 8px -10px #CCC,
        inset 0 11px 8px -10px #CCC;
}

// Button

  %btn-style {
    @extend %mouseover;
    // font-size: 13px;
    font-weight: $font-weight--bold;
    border-radius: $br--default;
    border: none;
    outline: none;
    padding: 10px 50px;
  }

// Form Input Box

%form-input {
    height: 3.5em;
    width: 100%;
    border-radius: 8px 8px;
    border: none;
    font-size: 16px;
    padding: 15px;
    margin: 15px 0px 20px 0;
  }
  
  %input-box-style {
    border-radius: 8px 8px;
    margin: 15px 0px 20px 0;
    padding: 15px 100px;
    outline: none;
    background-color: $light-yellow;
    transition: all $trns-duration;
    border-color: $strong-blue;
  }

  %dark-theme-bg {
    background: rgb(0,0,22);
    background: linear-gradient(90deg, rgba(0,0,22,1) 29%, rgba(0,18,45,1) 61%, rgba(0,36,69,1) 81%, rgba(0,53,91,1) 100%, rgba(0,69,111,1) 100%, rgba(0,98,148,1) 100%, rgba(0,143,206,1) 100%, rgba(0,181,255,1) 100%); padding: 100px;
  }